// Local docs variables
$whiteColor: #ffffff;
$descColor: #8f8f8f;
$titleColor: #222222;
$consultantColor: #024668;
$bgFooter: #333333;
$bgConsultant: #60B9BD;
$mainColor: #024668;
$fb-color: #2361d4;
$twitt-color: #48aef5;
$wa-color: #29B200;
$greyColor: #555555;